.main-home {
  width: 100vw;
  min-height: 90vh;
  color: #e2e2e2da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 35px;
}

.introduction {
  font-size: 1.3em;
  margin-top: 4em;
}

.text-container {
  width: 40%;
  font-size: 1em;
}

.typing {
  font-size: 1.1em;

}
.icons-about {
  display: flex;
  width: 120px;
  border: 1px solid #e4e4e415;
  background-color: #e4e4e415;
  border-radius: 20px;
  justify-content: center;
  gap: 12px;
  font-size: 1.4em;
  margin-top: 7em;
}

.icons-about svg {
  padding: 3px;
  margin-top: 5px;
  color: #e4e4e4cc;
  border-radius: 20px;
}

.icons-about svg:hover {
  color: #dfd696;
}

@media screen and (max-width: 766px) {
  .introduction {
    font-size: 1em;
  }

  .text-container {
    width: 65%;
    font-size: .73em;
  }

  .typing {
    font-size: 1em;
  }

  .icons-about {
    font-size: 1.3em;
    margin-top: 2em;
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  .text-container {
    width: 60%;
  }
}
