.main-home {
  height: 100vh;
  color:#e2e2e2da;
}
.introduction {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 1.3em;
}
.text-container{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size:.92em; 
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -59%);
}
.typing {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -48%);
}
.icons-about  {
  display: flex;
  width: 120px;
  border: 1px solid #e4e4e415;
  background-color:#e4e4e415 ;
  border-radius: 20px;
  justify-content: center;
  gap: 12px;
  font-size: 1.4em;
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icons-about svg {
  padding: 3px;
  margin-top: 3px;
  color: #e4e4e4cc;
  border-radius: 20px;
}
.icons-about svg:hover {
  color: #dfd696;
}


  @media screen and (max-width: 766px) {
    .introduction {
      
    }
    
    .text-container{
   
    }
  

    @media (orientation: landscape) {
      .text-container{
        
      }
    }
  }
  
  @media screen and (min-width: 767px) and (max-width: 1250px) {
 
    .introduction {
     
    }

    .text-container{
 
    }
      
    @media (orientation: landscape) {
      
     .introduction {
      
    }
    .text-container{
      
    } 
    }
  }
  