/* Navbar */
  .dark-mode .contact a {
  border: 2px solid #35797a;
  color: #212330;
  }
  .dark-mode .contact a:hover {
    border: 2px solid  #35797ae7;;
    color: #35797ae7;
    }
  .dark-mode .custom-link {
  color: #212330;
  }
  .dark-mode .custom-link:hover {
    color: #35797a;
   }
   .dark-mode .open-modal svg, .dark-mode .icon {
    color: #282a3aec;
   }
   .dark-mode .open-modal svg:hover, .dark-mode .icon:hover {
    color: #212330;
   }

/* home */
.dark-mode .main-home {
  background-color: #ffffffd3;
}
.dark-mode .skill::after,
.dark-mode .project::after,
.dark-mode .cont::after {
  background: #35797a;
}
.dark-mode .skill:hover,
.dark-mode .project:hover,
.dark-mode .cont:hover {
  color: #35797ae7;
}
.dark-mode .about {
  color: #282a3aec;
}
.dark-mode .about::after {
  background-color: #35797a;
}
.dark-mode .about:hover {
  color: #35797ae7;
}
.dark-mode .about:hover::after {
  background-color: #35797a;
}
.dark-mode .icons-about a{
  font-weight: 600 ;
  border: 1px solid #35797ae7;
  color: #282a3aec;
}

.dark-mode .icons-about a:hover{
  color: #35797a;
  border: 1px solid #35797ae7;
}
.dark-mode .important-name {
  color: #35797a;
}
.dark-mode .text-container h1, .dark-mode .text-container p{
  color:#282a3aec;
  font-weight: 600;
 }

.dark-mode .icons-about a {
  color:#282a3aec;
}

.dark-mode .animation {
  color: #35797a;
}

.dark-mode .go-down {
  color: #35797a;

}
.dark-mode .go-down:hover {
  color: #35797ae7;
}

/* about */
.dark-mode .about-text  {
  background-color: #fafafae0;
  color:#282a3aec;
}

.dark-mode .image-container {
  border: 1px solid #e4e4e415;
  background-color: #00000015;
}
.dark-mode .about-text a {
  background-color: #35797a;
}
.dark-mode .about-text a:hover {
  background-color: #35797ae7;
}

.dark-mode .memory-details {
  border: 1px solid #e4e4e415;
  background-color: #000000bb;
}
.dark-mode .memory-details:hover {
  background-color: #000000b6;
}

/* skills */
.dark-mode  .icons-container {
  background-color: #ffffffd3;
  color: #fff;
}
.dark-mode .text-skills p {
  color:#282a3aec;
  }
  
.dark-mode .card {
  background-color: #000000bb;

}
.dark-mode .card:hover {
  background-color: #000000b6;

}
.dark-mode .details-text {
  color:#282a3aec;
  }



/* projects */
.dark-mode .projetos-container {
  background-color: #ffffffd3;    
} 
.dark-mode  .img-item {
  border: 1px solid #e4e4e415;
  background-color: #000000bb;
}
.dark-mode .img-item:hover {
  background-color: #000000b6;

}

.dark-mode .infodetails a:hover {
color: #35797a;
}


.dark-mode .infodetails li {
color: #35797a;
background-color: #1c3c5e80;
border: 1px solid #35797a;
}
.dark-mode .infodetails li:hover {
background-color: #1c3c5e;
}


/* contact */
.dark-mode .envform {
  background-color: #fafafae0;
}
.dark-mode  .envform p{
  color: #282a3aee;
}

.dark-mode .main-contact {
  box-shadow: 0px 2px 4px 0px #bebebe;
}
.dark-mode label{
color: #35797a;
}
.dark-mode .envform input,.dark-mode textarea {
  color: #282a3aee;
  border-bottom: 1px solid #282a3a5b;
}
.dark-mode .envform input::placeholder, .dark-mode textarea::placeholder {
 color: #282a3aee;
}
.dark-mode .envform input:focus, .dark-mode textarea:focus {
color: #282a3aec;
}


.dark-mode  .loading-container .error-message {
color: #c92121d2;
}
.dark-mode  .loading-container .success-message {
  color: #fff;
}

.dark-mode .error-message, .dark-mode  .success-message {
  background-color: #35797a;
}
.dark-mode button  {
background-color: #35797a;
}
.dark-mode  button:hover{
background-color: #35797ae7;
}

/* footer */
.dark-mode footer {
  text-align: center;
  background-color: #2123308e;
  padding: 1em;
  color: white;
}
.dark-mode h1 {
  color: #35797a;
}
.dark-mode h2 {
  color: #35797a;
}
.dark-mode h3 {
  color: #35797a;
}
.dark-mode h6 {
  color: #35797a;
}
@media screen and (max-width: 766px) {
.dark-mode .custom-link {
  color: #e2e2e2da;
}
.dark-mode .close-modal svg {
  color: #e2e2e2da;
}
.dark-mode .close-modal svg:hover {
  color: #35797a;
}
.dark-mode .icons-nav a:hover{
  border: 1px solid #35797a;
}}