.envform {
  height: 100vh;
  background-color: #282a3a7c;
}
.envform span{
  display: flex;
  justify-content: center;
  color: #6C7EA3;
  position: relative;
  top: 10%;
}

form {
  position: relative;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
  text-align: center;
  width: 40vw;
  border-radius: 10px;
}
label {
font-weight: bold;
color: #dfd696;
font-size: 1.1em;
}
.envform input, textarea {
  display: flex;
  text-align: center;
  width: 75%;
  box-sizing: border-box;
  padding: .8em;
  margin: 3em auto;
  background-color: transparent;
  border: none;
  color: #ffffffdc;
  border-bottom: 1px solid #ffffff3a;
}
.envform input::placeholder, textarea::placeholder {
text-align: center;
 color: #ffffffdc;
 font-size: 1.2em;
}
.envform input:focus, textarea:focus {
outline: none;
text-align: center;
color: #ffffffdc;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #282a3af8 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

.image-contact {
  display: flex;
  justify-content: end;
  position: relative;
  bottom: 45%;
  right: 15%;
}
.image-contact svg{
  width: 250px;
  height: auto;
  border-radius: 100%;
  color: #51c9cbd2;
  animation: rotate 10s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 766px) {
  .envform {
   
  }
  .envform h1 {
  
  }
  
  form {
 
  }
  
 label {
  font-size: 1.2em;
  }
  
  .envform input, textarea {
  
  }
  button {
    
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  .envform {
    
  }
  
  .envform h1 {
    
  }

  form {
   
  }
  
 label {
  font-size: 1.5em;
  }
  .envform input, textarea {
  }
  button {
  
  }
}