.envform {
  width: 100%;
  min-height: 800px;
  background-color: var(--background-secondary);
  display: flex;
}
.form-message {
  display: flex;
  width: 80%;
  margin: 6em auto;
}

.primary-contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
  margin: 1em;
  width: 100%;
}
.primary-contact h4 {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s ease-in-out;
}
.primary-contact h4:hover {
  color: var(--accent);
}
.primary-contact h4 svg {
  color: var(--accent);
}
.primary-contact h6 {
  position: relative;
  width: 10%;
}
.primary-contact h6::before {
  position: absolute;
  content: "";
  top: -220px;
  right: -1300px;
  width: 300px;
  height: 310px;
  border-radius: 50%;
  z-index: 1;
  background-color: var(--accent-before);
}
.primary-contact p {
  width: 85%;
}

.main-contact {
  width: 100%;
  height: 530px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 2;
  transition: transform .4s ease-in-out;
}
.main-contact:hover {
transform: translateY(-8px);
}
.main-contact form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1em;
  width: 85%;
  margin: 0 auto;
}

.main-contact form input,
.main-contact form textarea {
  padding: 15px;
  color: var(--accent);
  border: none;
  border: 1px solid var(--background);
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
}
.main-contact form textarea {
  height: 100px;
}
.main-contact form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--secondary-hover);
  font-weight: 600;
  font-size: 0.9em;
}
.main-contact form button {
  width: 100%;
  height: 45px;
  font-size: .9em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: var(--accent);
  color: var(--title);
  font-weight: bolder;
  font-weight: bolder;
}
.main-contact form button:hover {
background-color: var(--accent-hover);
}
.main-contact form button svg {
  transition: all 0.4s ease-in-out;
}

.main-contact form button:hover svg {
transform: translateX(3px);
}
.main-contact form input::placeholder,
.main-contact form textarea::placeholder {
  color: var(--subTitle);
}
.main-contact form input:focus::placeholder,
.main-contact form textarea:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.main-contact form input:focus,
.main-contact form textarea:focus {
  box-shadow: var(--accent) 0px 1px 4px;
  outline: none;
  color: var(--accent);
}

.main-contact form input:-webkit-autofill,
.main-contact form textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(34, 36, 36, 0) inset !important;
  -webkit-text-fill-color: var(--accent) !important;
}

.social-medias {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 20px;
}
.social-icons {
  display: flex;
  gap: 30px;
  position: relative;
  z-index: 1;
}
.social-icons::before {
  position: absolute;
  content: "";
  top: 130px;
  left: -240px;
  width: 300px;
  height: 310px;
  border-radius: 50%;
  background-color: var(--accent-before);
}
.social-icons svg {
  background-color: var(--title);
  width: 25px;
  padding: 0.6em;
  border-radius: 22px;
  color: var(--background);
  transition: background-color 0.2s ease-in-out;
}
.social-icons svg:hover {
  background-color: var(--accent);
}

.loading-container .error-message {
  color: #c92121d2;
}
.loading-container .success-message {
  color: #fff;
}

.error-message,
.success-message {
  width: 15vw;
  margin: 0 auto;
  border-radius: 5%;
  font-weight: bold;
  background-color: #51c9cbd2;
  padding: 5px;
}

@media screen and (max-width: 766px) {
  .form-message {
  display: flex;
  flex-direction: column;
  width: 95%;
}
.primary-contact h6 {
  width: 50%;
}
.primary-contact p {
  width: 95%;
}
  @media (orientation: landscape) {
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
}

@media screen and (max-width: 1250px) {
}
