.envform {
  width: 100%;
  margin: 0 auto;
  background-color: #282a3a3a;
  padding-bottom: 6em;
  padding-top: 2em;
}
.envform p{
  display: flex;
  text-align: center;
  justify-content: center;
  color: #e2e2e2da;
  width: 70%;
  margin: 1em auto;
  margin-top: 4em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  margin-top: 6em;
  width: 40%;
  border-radius: 10px;
}


label {
font-weight: bold;
color: #51c9cbd2;
font-size: 1.1em;
}

.envform input, textarea {
  display: flex;
  text-align: center;
  width: 75%;
  box-sizing: border-box;
  padding: .8em;
  margin:3em auto;
  background-color: transparent;
  border: none;
  color: #ffffffdc;
  border-bottom: 1px solid #ffffff3a;
}
.envform textarea {
resize: none;
}
.envform input::placeholder, textarea::placeholder {
text-align: center;
color: #ffffffdc;
font-size: 1.2em;
}
input:focus::placeholder, textarea:focus::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}
.envform input:focus, textarea:focus {
outline: none;
text-align: center;
color: #ffffffdc;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #282a3af8 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

.loading-container .error-message {
color: #c92121d2;
}
.loading-container .success-message {
  color: #fff;
  }

.error-message, .success-message {
  width: 15vw;
  margin: 0 auto;
  border-radius: 5%;
  font-weight: bold;
  background-color: #51c9cbd2;
  padding: 5px;
}

@media screen and (max-width: 766px) {
  .envform p{
    width: 90%;
    font-size: 1em;
  }

  form {
  width: 70%;
  }
  label {
  font-size: 1.2em;
  }
  .envform input, textarea {
    width: 70%;
    margin:1.3em auto;
  }
  .envform input::placeholder, textarea::placeholder {
  font-size: 1.1em;
  }


  .image-contact svg{
    width: 80px;
  }

  @media (orientation: landscape)  {
    form {
      width: 50vw;
      }
      .envform input, textarea {
        width: 80%;
        box-sizing: border-box;
        padding: 0em;
        margin:1em auto;
      }
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  form {
  width: 80%;
  }

  .envform input, textarea {
    width: 60%;
    margin:2.3em auto;
  }
  .id {
    display: flex;
    justify-content: unset;
  }
  .image-contact svg{
    margin-left: 5em;
    width: 170px;
  }
}