footer {
    text-align: center;
    background-color: #282a3a8a;
    padding: 1em;
    color: white;
}

  
  @media screen and (max-width: 766px) {
    footer {
        text-align: center;    
        padding: .7em;
    }
    
  }
  
  @media screen and (min-width: 767px) and (max-width: 1250px) {
    footer {
        text-align: center;
        padding: 1.2em;
    }
  }
  