.header-container {
  position: fixed;
  width: 100%;
  z-index: 50;
}
.header-container.header-box {
  backdrop-filter: blur(2rem);
  background-color: var(--background-transparent);
  box-shadow:
    var(--background) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  transition: all 0.3s ease-in-out;
}
.header-background {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5em;
  position: relative;
  height: 50px;
  margin: 0 auto;
  margin-top: 0.8em;
}

/* .contact a{
color: #e2e2e2da;
font-weight: bolder;
border: 2px solid #4a6161d2;
border-radius: 20px;
padding: 5px 13px ;
cursor: pointer;
}
.contact a:hover {
color: #51c9cbd2;
border: 2px solid #51c9cbb0;
} */
.header-background p,
.header-background svg {
  font-size: 1.3em;
  font-weight: bolder;
  color: var(--title);
}
.header-background svg {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}
.header-background svg:hover {
  color: var(--subTitle);
}

nav {
  display: flex;
  gap: 50px;
  font-size: 1.1em;
}

.name-nav {
  transition: color 0.2s ease-in-out;
}
.name-nav span {
  color: var(--accent);
}
.name-nav:hover {
  color: var(--accent-hover);
}
.hamburger,
nav h6 {
  display: none;
}
.custom-link {
  font-size: 0.8em;
  text-decoration: none;
  font-weight: 600;
  color: var(--subTitle);
  position: relative;
}
.icons-nav {
  display: none;
}
.skill::after,
.project::after,
.cont::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  margin-top: 0px;
  background: var(--accent);
  transition: width 0.1s ease-in-out;
  -webkit-transition:
    width 0.3s ease-in-out,
    transform 0.1s ease;
}
.skill:hover,
.project:hover,
.cont:hover {
  color: var(--title);
  font-weight: 600;
}
.skill:hover::after {
  width: 70px;
  height: 3px;
  left: 1px;
  right: auto;
}
.project:hover::after {
  width: 50px;
  height: 3px;
  left: 1px;
  right: auto;
}
.cont:hover::after {
  width: 35px;
  height: 3px;
  left: 1px;
  right: auto;
}
@media screen and (max-width: 766px) {
  .hamburger {
    display: flex;
    align-items: center;
    z-index: 3;
    font-size: 1.3em;
    cursor: pointer;
    transition:
      transform 0.3s ease,
      scale 0.3s ease;
  }
  .hamburger svg {
    width: 18px;
  }
  .close-modal {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  }
  .close-modal svg {
    width: 18px;
  }

  .overlay {
    position: fixed;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-transparent);
    backdrop-filter: blur(2rem);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition:
      left 0.2s ease,
      opacity 0.3s ease,
      visibility 0.3s 0.3s;
  }
  .overlay.open {
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow-y: auto;
    transition:
      left 0.2s ease,
      opacity 0.3s ease;
  }

  .overlay.open:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 1;
    visibility: visible;
    transition:
      opacity 0.3s ease,
      visibility 0s 0.3s;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  @media (orientation: landscape) {
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
}
