.header-container {
  position: relative;
  height: 10vh;
}
.header-container span{
  display: flex;
  font-weight: bold;
  width: 0;
  justify-content: left;
  position: relative;
  right: 25%;
  align-items: baseline;
  color:#e2e2e2;
  font-size: 1em;
}
nav {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.hamburger {
  width: 10px;
  display: none;
  font-size: 24px;
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
  color: white;
}

.hamburger:hover {
  color: #dfd696;
}

.custom-link{
  margin: 20px;
  font-size: 1.1em;
  text-decoration: none;
  font-weight: 600;
  color:#e2e2e2;
  position: relative;
}

.skill::after,
.project::after,
.cont::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  margin-top: 2px;
  background:#dfd696;
  transition: width 0.1s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out, transform 0.1s ease;
}
.skill:hover,
.project:hover,
.cont:hover {
  color:#dfd696;
  font-weight: 600;
} 

.skill:hover::after {
  width: 70px;
  height: 4px;
  left: 3px;
  right: auto;
}

.project:hover::after {
  width: 50px;
  height: 4px;
  left: 3px;
  right: auto;
}

.cont:hover::after {
  width: 50px;
  height: 4px;
  left: 3px;
  right: auto;
}


@media screen and (max-width: 766px) {
  .header-container {
    position: relative;
    top: 12px;
    height: 0px;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: none;
    height: 50vh;
  }

  .nav-menu.open {
    display: flex;
    flex-direction: column;
  }
  
  .overlay {
    display: none;
    position: fixed;
   
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.918); /* Fundo semi-transparente */
    z-index: 1;
    transition: opacity 0.3s ease;
  }
  .overlay.open {
    display: block;
    opacity: 1;
  }

  .custom-link{
    color: white;
    margin: 10px;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  .skill:hover::after {
    left: 2px;
  }
  .project:hover::after {
    left: 2px;
  }
  .cont:hover::after {
    left: 2px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  .header-container {
    top: 6px;
  }
  nav {
    height: 65px;
    padding: 0.3em 1.3em;
  }
  .hamburger {
    font-size: 24px;
  }

  .custom-link{
    margin: 1.3em;
    font-size: 1.3em;
  }

  
  @media (orientation: landscape) {
    .custom-link{
      margin: 1.2.3em;
      font-size: 1em;
    }
    nav {
      width: 100vw;
      height: 52px;
      padding: 0 1em;
    }
  }
}
