* {
  margin: 0;
  padding: 0;
}

html,body {
  overflow-x: hidden;
}
body {
  background: #000; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
