#arrow-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: none; 
    z-index: 1; 
  }
#arrow-top svg {
  width: 35px;
  height: auto;
  color:#51c9cb;
}