.icons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #282a3a6e;
  height: 120vh;
  color: #fff;
}

.icon-skills {
  display: flex;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 2.5em;
  color: #fff;
  background-color: #51c9cbd2;
  margin-top: 1em;
}

.details-skills {
width: 60vh;
min-height: 90vh;
background-color: #21212bee;
box-shadow: 2px 6px 8px 0px #00000023;
position: relative;
bottom: 17%;
border-radius: 15px;
}

.details-skills h2{
  color: #51c9cbd2;
  text-align: center;
  margin-top: 1em;
 }

.details-skills p{
  width: 90%;
  margin: 0 auto;
  margin-top: 6em;
  text-align: center;
 }
.details-text {
width: 60%;
color:#e2e2e2da;
text-align: center;
position: relative;
bottom: 22%;
margin-top: 8em;
margin-bottom: 7em;
}
  
.information-skills {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-top: 4em;
}
.information-skills ul{
 margin-top: 2em;
 }
 
 .information-skills li{
  color: #51c9cbd2;
  background-color: #1c3c5e;
  text-align: center;
  list-style-type: none;
  border: 1px solid #51c9cbd2;
  border-radius: 10px;
  margin: 10px;
  padding: 0 3px;
  }
  .information-skills li:hover{
   background-color: #1c3c5ec9;
    }


  @media screen and (max-width: 766px) {

    @media (orientation: landscape)  {
     
  }
}

@media screen and (min-width: 767px) and (max-width: 1250px) {
  

  @media (orientation: landscape)  {
 
}
}