.projetos-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        background-color: #282a3a2f;
        min-height: 100vh;
        text-align: center;
        padding-bottom: 10em;
}
.img-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38%;
    min-height: 300px;
    margin: 3em 1.5em;
    margin-top: 6em;
    padding: 1em;
    border-radius: 30px;
    border: 1px solid #e4e4e415;
    background-color: #e4e4e415;
    box-shadow: 3px 3px 4px 0px #00000023;
}
.img-item:hover {
  background-color: #e4e4e413;
}

.img-item img {
    width: 50%;
    border-radius: 10px;
}

.infodetails {
  display: flex;
  flex-direction: column;
}

.infodetails p {
  color: #e2e2e2da;
  width: 100%;
  font-size: .9em;
  margin: 0.9em auto; 
  line-height: 1.5em;
}
.infodetails a {
   color: #e2e2e2da;
   font-size: .9em;
   text-decoration:overline;
   cursor: pointer;
   margin: 0 auto;
}
  .infodetails a:hover {
    color: #51c9cbd2;
  }
.infodetails ul {
 display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 1em;
 flex-wrap: wrap;
}

.infodetails li {
  color: #51c9cbd2;
  background-color: #1c3c5e80;
  list-style-type: none;
  border: 1px solid #51c9cbd2;
  border-radius: 10px;
  margin: 3px;
  padding: 1px 3px;
  font-size: .8em;
  white-space: nowrap;
}
.infodetails li:hover {
  background-color: #1c3c5e;
}
@media screen and (max-width: 766px) {
  .img-item {
    width: 75%;
    flex-wrap: wrap;
}
.img-item img {
  width: 70%;
}
.infodetails {
  width: 98%;
}
  .infodetails p {

    width: 90%;
    font-size: .85em;
  }
  .infodetails a {
    font-size: 1em;
}
  .infodetails li {
    font-size: .8em;
  }

  @media (orientation: landscape)  {
    .img-item {
height: 540px;
}
.img-item img {
    width: 70%;
   }

  }

}
@media screen and (min-width: 767px) and (max-width: 1250px) {
.img-item {
   width: 65%;
   flex-direction: column;
}
.img-item img {
 width: 60%;
}

 .infodetails {
  margin: 4px;
   width: 90%;
   gap: 10px;
 }
 .infodetails p {
   width: 100%;
   font-size: 1em;
   
 }

 .infodetails a {
   font-size: 1.1em;
}

 .infodetails li {
   font-size: 1em;
 }
 

  @media (orientation: landscape)  {
    .infodetails {
        gap: 10px;
    }
    .infodetails p {
      width: 100%;
      font-size: 1.1em;
      
    }
   
    .infodetails a {
      font-size: 1.1em;
   }
   
   .infodetails li {
    font-size: .9em;
  }
    

    }
}
