.projetos-container {
        display: flex;
        justify-content: center;
        width: 100vw;
        flex-wrap: wrap;
        background-color: #282a3a6e;    
        min-height: 100vh;    
        text-align: center;
        padding-bottom: 10em;
}
  .projetos-container span {
    width: 50%;
    align-items: center;
    justify-content: center;
    color: #6C7EA3;
    font-size: .65em;
    margin: 0.9em; 
  }

  .projetos-container a {
     color: #6C7EA3;
     font-size: .7em;
     text-decoration:overline;
     font-weight: bold;
     cursor: pointer;
     margin-bottom: 1em;
     margin-top: 1.8em;
    }
    .projetos-container a:hover {
      color: #51c9cbd2;
    }
    
.img-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40vw;
    height: 34vh;
    box-sizing: border-box;
    margin: 3em;
    margin-top: 6em;
    border-radius: 10px; 
    background-color: #21212bee;
}
.img-item:hover {
  background-color: #21212bb0;
}

.img-item img {
    width: 40%;
    height: 80%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 6px 8px 0px #0000002d;
}

.img-item ul {
 display: flex;
 width: 50%;
 justify-content: center;
 flex-wrap: wrap; /* Permite a quebra de linha */
 align-items: center;
}

.img-item li {
  color: #51c9cbd2;
  background-color: #1c3c5e;
  list-style-type: none;
  border: 1px solid #51c9cbd2;
  border-radius: 10px;
  margin: 3px;
  padding: 1px 3px;
  font-size: .6em;
  white-space: nowrap;
}


  @media screen and (max-width: 766px) {
    .img-item {
 
    }
    .img-item img { 
     
  }
    
  .projetos-container span,
  .projetos-container a{
   
  }
    .img-item a {
    
    }
}
@media screen and (min-width: 767px) and (max-width: 1250px) {
     h2{
       
    }
      .img-item {
      
    }
    
    .img-item img { 
      width: 90%;
  }
   .projetos-container span,
    .projetos-container a{
   
    }
    .img-item a {
 
    }
}