.main-project {
}

.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 3;
  flex-wrap: wrap;
  background-color: var(--background);
  text-align: center;
  padding-bottom: 5em;
  padding-top: 5em;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.projects-primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 27%;
  height: 510px;
  margin: 3em 1.5em;
  border-radius: 20px;
  background-color: var(--accent-card-project);
  border: 1px solid var(--secondary-hover);
  box-shadow: var(--background) -4px 9px 25px -6px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.img-item:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow) 0px 7px 10px -4px;
}
.img-item:hover img {
  scale: 1.02;
}
.img-item img {
  width: 100%;
  height: 250px;
  border-radius: 20px 20px 0 0;
  transition: all 0.4s ease-in-out;
}

.infodetails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1em 0;
  padding: 10px;
}

.infodetails p {
  width: 98%;
  font-size: 0.85em;
}
.infodetails a {
  color: var(--accent);
  font-size: 0.9em;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.infodetails a svg {
  width: 18px;
  height: 18px;
}
.infodetails a:hover {
  color: var(--accent-hover);
}

.technologies-used ul {
  display: flex;
  align-items: center;
}

.infodetails li {
  color: var(--accent);
  background-color: var(--accent-transparent);
  list-style-type: none;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2px 4px;
  font-size: 0.8em;
}
.infodetails li:hover {
  background-color: var(--accent-card-hover);
}
.details-project {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.redirect-project {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.expand-projects {
  display: flex;
  min-width: 13%;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px;
  border-radius: 20px;
  font-size: 0.8em;
  font-weight: bolder;
  margin-top: 2em;
}
.expand-projects:hover {
  background-color: var(--accent-hover);
}

@media screen and (max-width: 766px) {
.img-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 95%;
  height: 510px;
  margin: 2em .8em;
}

.expand-projects {
  min-width:65%;
}


  @media (orientation: landscape) {

  }
}
@media screen and (min-width: 767px) and (max-width: 1250px) {

  @media (orientation: landscape) {

}}
